.navbar-whine{
    background-color: #960C4E;
}
.nav-link-white{
    color: #dad5d8;
}

.nav-link-white:hover{
    color: #FFFFFF;
}

.mybnt {
    color: #dad5d8;
    background-color: #960C4E;
    border-color: #960C4E;
    padding-top:7px;
    border: 1px solid transparent;
}

.mybnt:hover{
    color: #ffffff;
}