<th:block th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-whine">
        <div class="container-fluid">
            <a class="navbar-brand nav-link-white" href="#">Resident-Evil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active nav-link-white" aria-current="page" href="/">Home</a>
                    <a sec:authorize="!isAuthenticated()" id="register" class="nav-link nav-link-white ms-20" href="/register">Register</a>
                    <a sec:authorize="!isAuthenticated()" id="login" class="nav-link nav-link-white ms-20" href="/login">Login</a>
                    <div class="dropdown">
                        <button sec:authorize="isAuthenticated()" class=" mybnt dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Viruses
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a sec:authorize="hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')" class="dropdown-item" href="/add">Add</a></li>
                            <li><a class="dropdown-item" href="/show">Show</a></li>
                        </ul>
                    </div>
                    <a sec:authorize="isAuthenticated()" class="nav-link nav-link-white" href="/map">Map</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link nav-link-white" href="/users">Users</a>
                </div>
                <div class="ms-auto d-flex">
                    <a sec:authorize="isAuthenticated()" class="nav-link nav-link-white pe-0">Hi, </a>
                    <a sec:authorize="isAuthenticated()" sec:authentication="name" class="nav-link nav-link-white ps-1"></a>
                    <a sec:authorize="isAuthenticated()" class="nav-link nav-link-white" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</th:block>