<th:block th:fragment="virus-form" xmlns:th="">
    <form class="mt-4" th:action="|@{'/viruses/' + ${formMode} + ${formMode.equals('edit') || formMode.equals('delete') ? ('/' + virusViewModel.getId()) : ('')}}|" th:method="POST" th:object="${virusInput}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-danger'">
            <label for="name">Name</label>
            <input type="text" class="form-control" th:field="*{name}" th:value="${virusInput.getName()}" id="name"
                   name="name" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('name')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>

        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-danger'">
            <label for="description">Description</label>
            <textarea style="resize: none;" class="form-control" th:text="${virusInput.getDescription()}"
                      id="description" name="description"
                      rows="3" th:disabled="${formMode.equals('delete')}"></textarea>
            <th:block th:each="error : ${#fields.errors('description')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('sideEffects')} ? 'has-danger'">
            <label for="sideEffects">Side Effects</label>
            <input type="text" class="form-control" th:value="${virusInput.getSideEffects()}" id="sideEffects"
                   name="sideEffects" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('sideEffects')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('creator')} ? 'has-danger'">
            <label for="creator">Creator</label>
            <input type="text" class="form-control" th:value="${virusInput.getCreator()}" id="creator"
                   name="creator" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('creator')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-check" th:classappend="${#fields.hasErrors('isDeadly')} ? 'has-danger'">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:checked="${virusInput.getIsDeadly()}"
                       name="isDeadly" th:disabled="${formMode.equals('delete')}"/>
                Is Deadly?
            </label>
            <th:block th:each="error : ${#fields.errors('isDeadly')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-check" th:classappend="${#fields.hasErrors('isCurable')} ? 'has-danger'">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:checked="${virusInput.getIsCurable()}"
                       name="isCurable" th:disabled="${formMode.equals('delete')}"/>
                Is Curable?
            </label>
            <th:block th:each="error : ${#fields.errors('isCurable')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <fieldset class="form-group" th:classappend="${#fields.hasErrors('mutation')} ? 'has-danger'" th:disabled="${formMode.equals('delete')}">
            <legend>Mutation</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                           th:checked="${virusInput.getMutation() == null || virusInput.getMutation().equals('ZOMBIE')}"
                           id="zombie" value="ZOMBIE" name="mutation"/>
                    ZOMBIE
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                           th:checked="${virusInput.getMutation() == null || virusInput.getMutation().equals('T_078_TYRANT')}"
                           id="t_078_tyrant" value="T_078_TYRANT"
                           name="mutation"/>
                    T_078_TYRANT
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                           th:checked="${virusInput.getMutation() == null || virusInput.getMutation().equals('GIANT_SPIDER')}"
                           id="giant_spider" value="GIANT_SPIDER"
                           name="mutation"/>
                    GIANT_SPIDER
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="save_humanity" value="SAVE_HUMANITY"
                           name="mutation" disabled/>
                    Save Humanity
                </label>
            </div>
            <th:block th:each="error : ${#fields.errors('mutation')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </fieldset>
        <div class="form-group" th:classappend="${#fields.hasErrors('turnoverRate')} ? 'has-danger'">
            <label for="turnoverRate">Turnover Rate</label>
            <input type="number" class="form-control" th:value="${virusInput.getTurnoverRate()}" id="turnoverRate"
                   name="turnoverRate" th:disabled="${formMode.equals('delete')}"/>

            <th:block th:each="error : ${#fields.errors('turnoverRate')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('hoursUntilTurn')} ? 'has-danger'">
            <label for="hoursUntilTurn">Hours Until Turn</label>
            <input type="number" class="form-control" th:value="${virusInput.getHoursUntilTurn()}"
                   id="hoursUntilTurn" name="hoursUntilTurn" th:disabled="${formMode.equals('delete')}"/>

            <th:block th:each="error : ${#fields.errors('hoursUntilTurn')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('magnitude')} ? 'has-danger'">
            <label for="magnitude">Magnitude</label>
            <select class="form-control" id="magnitude" name="magnitude" th:disabled="${formMode.equals('delete')}">
                <option th:selected="${virusInput.getMagnitude() == null || virusInput.getMagnitude().equals('LOW')}">
                    Low
                </option>
                <option th:selected="${virusInput.getMagnitude() != null && virusInput.getMagnitude().equals('MEDIUM')}">
                    Medium
                </option>
                <option th:selected="${virusInput.getMagnitude() != null && virusInput.getMagnitude().equals('HIGH')}">
                    High
                </option>
            </select>

            <th:block th:each="error : ${#fields.errors('magnitude')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('releasedOn')} ? 'has-danger'">
            <label for="releasedOn">Released On</label>
            <input class="form-control" type="date" th:value="${virusInput.getReleasedOn()}" id="releasedOn"
                   name="releasedOn" th:disabled="${formMode.equals('delete')}"/>
            <th:block th:each="error : ${#fields.errors('releasedOn')}">
                <small class="text-danger"
                       th:text="${error}"></small>
            </th:block>
        </div>
        <div class="form-group">
            <label for="capitals">Capitals</label>
            <select multiple class="form-control" id="capitals" name="capitals" th:disabled="${formMode.equals('delete')}">
                <th:block th:each="capital : ${virusViewModel.getCapitals()}">
                    <option th:value="${capital}" th:text="${capital}"
                            th:selected="${virusInput.getCapitals() != null && virusInput.getCapitals().contains(capital)}"></option>
                </th:block>
            </select>
        </div>
        <div class="d-flex justify-content-around mb-4">
            <button type="submit" class="btn btn-lg"
                    th:classappend="${(formMode.equals('add') ? 'btn-primary' : '') + (formMode.equals('edit') ? 'btn-success' : '') + (formMode.equals('delete') ? 'btn-danger' : '')}" th:text="|${#strings.capitalize(formMode)} Virus|"></button>
            <a class="btn btn-danger btn-lg" th:href="@{/}">Cancel</a>
        </div>
    </form>
</th:block>