<!DOCTYPE html>
<html lang="en" xmlns:th="">
<th:block th:include="fragments/head"></th:block>
<body style="background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-325185.jpg&fm=jpg');">
<div>
    <th:block th:include="fragments/navbar"></th:block>
        <div class="container">
            <form th:action="@{/add}" th:method="POST">
                <div class="form-group mt-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="${addVirusBindingModel.name}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.name')}" th:errors="*{addVirusBindingModel.name}"></div>
                </div>
                <div class="form-group mt-4">
                    <label for="description">Description</label>
                    <textarea style="resize: none;" class="form-control" id="description" name="description" rows="3" th:field="${addVirusBindingModel.description}"></textarea>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.description')}" th:errors="*{addVirusBindingModel.description}"></div>
                </div>
                <div class="form-group mt-4" >
                    <label for="sideEffect">Side Effect</label>
                    <input type="text" class="form-control" id="sideEffect" name="sideEffects" th:field="${addVirusBindingModel.sideEffects}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.sideEffects')}" th:errors="*{addVirusBindingModel.sideEffects}"></div>
                </div>
                <div class="form-group mt-4">
                    <label for="creator">Creator</label>
                    <input type="text" class="form-control" id="creator" name="creator" th:field="*{addVirusBindingModel.creator}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.creator')}" th:errors="*{addVirusBindingModel.creator}"></div>
                </div>
                <div class="form-check mt-5">
                    <input class="form-check-input" type="checkbox" value="Yes" id="isDeadly" name="isDeadly">
                    <label class="form-check-label" for="isDeadly">
                        Is Deadly?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Yes" id="isCurable" name="isCurable">
                    <label class="form-check-label mb-4" for="isCurable">
                        Id Curable?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mutation" id="flexRadioDefault1" value="ZOMBIE" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        ZOMBIE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mutation" id="flexRadioDefault2" value="T_078_TYRANT">
                    <label class="form-check-label" for="flexRadioDefault2">
                        T_078_TYRANT
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mutation" id="flexRadioDefault3" value="GIANT_SPIDER">
                    <label class="form-check-label" for="flexRadioDefault3">
                        GIANT_SPIDER
                    </label>
                </div>
                <div class="form-group mt-4">
                    <label for="turnoverRate">Turnover Rate</label>
                    <input type="number" class="form-control" id="turnoverRate" name="turnoverRate" th:field="*{addVirusBindingModel.turnoverRate}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.turnoverRate')}" th:errors="*{addVirusBindingModel.turnoverRate}"></div>
                </div>
                <div class="form-group mt-4">
                    <label for="hoursUntilTurn">Hours Until Turn</label>
                    <input type="number" class="form-control" id="hoursUntilTurn" name="hoursUntilTurn" th:field="*{addVirusBindingModel.hoursUntilTurn}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.hoursUntilTurn')}" th:errors="*{addVirusBindingModel.hoursUntilTurn}"></div>
                </div>
                <div class="form-group mt-4">
                    <label for="magnitude">Magnitude</label>
                <select class="form-select" aria-label="Default select example" id="Magnitude" name="magnitude">
                    <option value="LOW">Low</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                </select>
                </div>
                <div class="form-group mt-4">
                    <label for="releaseOn">Release On</label>
                    <input type="date" class="form-control" id="releaseOn" name="releaseOn" th:field="*{addVirusBindingModel.releaseOn}"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.releaseOn')}" th:errors="*{addVirusBindingModel.releaseOn}"></div>
                </div>
                <div class="form-group mt-4">
                    <label for="capitals">Capitals</label>
                    <select class="form-select" multiple id="capitals" name="capitals">
                        <th:block th:each="capital : ${caps}">
                            <option th:value="${capital}" th:text="*{capital}"></option>

                        </th:block>
                    </select>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('addVirusBindingModel.capitals')}" th:errors="*{addVirusBindingModel.capitals}"></div>
                </div>
                <div class="form-group mt-4" >
                    <label for="SelecedCapitals">Already selected Capitals: </label>
                    <select class="form-select" multiple id="SelecedCapitals" name="capitals" th:disabled="!${#fields.hasErrors('addVirusBindingModel.name')}">
                        <th:block th:each="capital : ${capsAfterError}">
                            <option th:value="${capital}" th:text="*{capital}"></option>
                        </th:block>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
</div>
</body>
</html>