<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/head"></th:block>
<body style="background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?cs=srgb&dl=pexels-aleksandar-pasaric-325185.jpg&fm=jpg');">
<th:block th:include="fragments/navbar"></th:block>
<div class="d-flex justify-content-around mt-3">
    <div>
        <h1 class="d-flex">Your choice </h1>
    </div>
    <div class="d-flex justify-content-end pt-4">
    <div class="form-check me-4">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Viruses
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
            Capitals
        </label>
    </div>
    </div>
</div>
<hr>
<div id="content" class="d-flex justify-content-center">
<h2>Select, what data you want to visualize!</h2>
</div>

</body>
<script>

</script>
</html>