<!DOCTYPE html>
<html lang="en" xmlns:th="">
<th:block th:include="fragments/head"></th:block>
<body>
<th:block th:include="fragments/navbar"></th:block>

<div class="d-flex justify-content-center">
<table class="table table-striped w-75 p-3">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Magnitude</th>
        <th scope="col">Released On</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="virus : ${viruses}" th:object="${virus}">
            <th th:text="*{virusId}"></th>
            <th th:text="*{name}"></th>
            <th th:text="*{magnitude}"></th>
            <th th:text="*{releaseOn}"></th>
            <th><a th:href="@{/edit/{virusId}(virusId=${virus.virusId})}" class="btn btn-primary" role="button">Edit</a></th>
            <th><a th:href="@{/delete/{virusId}(virusId=${virus.virusId})}" class="btn btn-danger" role="button">Delete</a></th>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>